In [1]:

import pandas as pd
import numpy as np



#dataframe = uploaded_file.read_datafolder()
df = pd.read_csv('D:\data science\ineuron\Project\python project\OnlineEDAAutomation\OnlineEDAAutomation\src\streamapps\stream_advancedapp\diabetes.csv')

In [21]:
categorical_column = [column for column in df.columns if df[column].dtypes == 'object']
categorical_stats = pd.DataFrame(df[categorical_column].describe())
categorical_stats

       BloodPressure
count            764
unique            50
top               70
freq              56

In [19]:
a = df['BloodPressure'].describe().loc['count']

In [22]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,ac c,35.0,0,33.6,0.627,NaN,1.0
1,1,85.0,bp,29.0,0,26.6,0.351,31.0,0.0
2,8,183.0,bp,0.0,0,23.3,0.672,NaN,NaN
3,1,89.0,bp,23.0,94,28.1,0.167,NaN,NaN
4,0,NaN,jf,35.0,168,43.1,2.288,NaN,NaN
...,...,...,...,...,...,...,...,...,...
763,10,101.0,76,48.0,180,32.9,0.171,63.0,0.0
764,2,122.0,70,27.0,0,36.8,0.340,27.0,0.0
765,5,121.0,72,23.0,112,26.2,0.245,30.0,0.0
766,1,126.0,60,0.0,0,30.1,0.349,47.0,1.0
767,1,93.0,70,31.0,0,30.4,0.315,23.0,0.0